<mat-toolbar color="primary" class="navbar">
    <div class="navbar-left">
        <img src="assets/ez1040logo2.png" alt="Auto 1040 Logo" class="navbar-logo" />
        @if(!user?.id) {
        <a routerLink="/login" mat-button class="navbar-button">
            <mat-icon>login</mat-icon>
            Log in
        </a>
        }
    </div>


    <div class="navbar-right">
        <button mat-button class="navbar-button">
            Activity Report
        </button>
        <button mat-button class="navbar-button">
            User Mangement
        </button>
        <button mat-icon-button (click)="navigateToHome()" class="navbar-button">
            <mat-icon>home</mat-icon>
        </button>
    </div>
</mat-toolbar>